---
# Install AUR build prerequisites and create a non-root AUR builder user.
# With this baked into the box, roles that use AUR (yay, zen_browser, hostctl)
# can skip these steps in their prepare.yml entirely.

- name: Install AUR build dependencies
  community.general.pacman:
    name:
      - base-devel
      - git
    state: present

- name: Create aur_builder system user
  ansible.builtin.user:
    name: aur_builder
    system: true
    shell: /usr/bin/nologin
    create_home: false

- name: Grant aur_builder passwordless pacman via sudo
  ansible.builtin.copy:
    dest: /etc/sudoers.d/aur_builder
    content: "aur_builder ALL=(root) NOPASSWD: /usr/bin/pacman\n"
    mode: '0440'
    validate: 'visudo -cf %s'
